body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

#home-quote {
  background: url('./../img/bg-quote.jpg') center center;
  background-size: cover;
}

.lista-plano li {
  padding: 1rem;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .fixed-top {
    position: relative;
  }
  #home-quote .display-4 {
    font-size: 2.5rem;
  }
  .title-mobile {
    font-size: 1.8rem;
  }
  .footer-mobile {
    font-size: 0.825rem;;
  }
}

.text-pink {
  color: #FF0751;
}

.bg-pink {
  background-color: #D6A0A0;
}

.bg-btn {
  background-color: #FF0751;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.bg-btn:hover {
  color: gainsboro;
}
